package pages

import "requirementor/web/view/deps"
import "requirementor/web/view/devtools"

type BasePage struct {
	Title string
}

templ (a BasePage) Comp() {
	// <!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>{ a.Title }</title>
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"/>
		</head>
		<body class="min-vh-100">
			{ children... }
			@devtools.HotReload("", false)
			<script src="https://unpkg.com/htmx.org@1.9.10"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
			@deps.Script(deps.HTMX_WS)
		</body>
	</html>
}
