package some

templ MyComponent() {
	<body>
		<script>var a = "something";</script>
	</body>
}

templ MyComponent2() {
	<body>
		<script>var a = "something";
		</script>
	</body>
}

templ MyComponent3() {
	<body>
		<script>
			var a = "something";
		</script>
	</body>
}

templ MyComponent4() {
	<body>
		<script>
		</script>
	</body>
}

templ MyComponent6() {
	<body>
		<script></script>
	</body>
}
