package shell

type ShellArgs struct{}

css mainStyle() {
	display: flex;
	flex-wrap: nowrap;
	height: 100vh;
	max-height: 100vh;
	overflow-x: auto;
	overflow-y: hidden;
}

templ Shell(args ShellArgs) {
	<main class={ mainStyle() }>
		@Navigation(NavigationArgs{})
		<div class="flex-grow-1">
			{ children... }
		</div>
	</main>
}
