package shell

css mainStyle() {
	display: flex;
	flex-wrap: nowrap;
	height: 100vh;
	max-height: 100vh;
	overflow-x: auto;
	overflow-y: hidden;
}

type Shell struct{}

templ (s Shell) Comp() {
	<div class={ mainStyle() }>
		@Navigation(NavigationArgs{})
		<main class="flex-grow-1 container-fluid">
			{ children... }
		</main>
	</div>
}
